@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-aesthetic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 100vh;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 504px;
    width: 250px;

    background: url('../imagens/frame-iphone-pq.png') no-repeat;

}

iframe#tela {
    position: relative;
    top: 64px;
    left: 18px;
    width: 214px;
    height: 379px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img#home {
    margin-top: 90px;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.685);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.756);
    transform: translate(-5px, -5px);
    transition: transform 0.4s, border 0.4s;
}